.table-row-cell:empty {
    -fx-background-color: white;
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}

.table-row-cell:focused   {
    -fx-border-color: grey;
}

.table-row-cell:focused .table-cell  {
    -fx-text-fill: grey;
    -fx-font-weight: bold;
}

.table-cell:hover   {
    -fx-text-fill: blue;
    -fx-border-color: red;
}